.logo {
  background: #F2994A;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  
  div {
    position: absolute;
    width: 14px;
    height: 6px;
    background: white;
    border-radius: 2px;
  }
  .line1 {
    left: 30.56%;
    right: 30.56%;
    top: 30.56%;
    bottom: 52.78%;
  }
  .line2 {
    left: 30.56%;
    right: 30.56%;
    top: 52.78%;
    bottom: 30.56%;
  }
}
